[submodule "integrations"]
	path = integrations
	url = https://github.com/elastic/integrations
	branch = main
[submodule "beats"]
	path = beats
	url = https://github.com/elastic/beats
	branch = main
[submodule "kibana"]
	path = kibana
	url = https://github.com/elastic/kibana
	branch = main
